.search_ideas{
    position: absolute;
    top: 44px;
    width: 100%;
    max-height: 510px;
    overflow-y: auto;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    padding: 12px 15px;
    gap: 15px;
    display: none;
}

.search_ideas h3{
    font-weight: normal;
}

.categories_container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: fit-content;
}

.categories_container .category{
    display: flex;
    gap: 5px;
    background-color: #f0f0f0;
    transition: all 0.6s;
    border-radius: 20px;
    align-items: center;
    overflow: hidden;
    position: relative;
    min-height: fit-content;
}

.categories_container .category:hover{
    background-color: #d6d6d6;
}

.categories_container .category p{
    word-break: break-all;
    white-space: normal;
}

.categories_container .category .representation{
    width: 70px;
    height: 70px;
    object-fit: cover;
}

@media(max-width: 700px){
    .categories_container{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));;
    }

    .search_ideas{
        max-height: calc(100vh - 113px);
        padding-bottom: 60px;
        overscroll-behavior: contain;
    }
    
    .categories_container .category .representation{
        width: 100%;
        height: 120px;
    }

    .categories_container .category .label_container{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        font-size: 1.1em;
        font-weight: 500;
    }

    .search_ideas h3{
        text-align: center;
    }
}

@media (prefers-color-scheme: dark){
    .categories_container .category{
        background-color: #2a2a2a;
    } 

    .categories_container .category:hover{
        background-color: #4d4d4d;
    }

    .search_ideas{
        background-color: #1a1a1a;
    }
}