:root{
  --image_width: 45vw;
}

main .product_preview_plus_extra_images{
  display: flex;
  gap: 10px;
  max-height: 76vh;
  top: 0;
  position: sticky;
}

main .images_container{
  position: relative;
  border-radius: 20px;
  width: var(--image_width);
  overflow: hidden;
  cursor: grab;
}

main .images_container:active{
  cursor: grabbing;
}

main .images_container .all_images{
  display: flex;
  width: fit-content;
  left: 0;
  transition: all 0.7s;
  position: relative;
}

main .images_container .all_images img,
main .images_container .all_images video{
  height: 76vh;
  min-width: var(--image_width);
  max-width: var(--image_width);
  object-fit: cover;
}

video{
  pointer-events: none;
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: white;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  backdrop-filter: blur(10px);
}

.prev{
  left: 15px;
}

.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

main .additional_images{
  display: flex;
  width: 120px;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  gap: 10px;
}

main .additional_images:empty{
  width: 0;
}

main .additional_images .additional_image{
  position: relative;
  transition: all 0.8s;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.5;
  min-height: 114px;
}

.active{
  opacity: 1 !important;
}

main .additional_images .additional_image img, 
main .additional_images .additional_image canvas{
  position: absolute;
  object-fit: cover;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

.vid_icon_container{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vid_icon_container i{
  font-size: 1.5em;
  color: white;
}

main .additional_images .additional_image:hover img{
  opacity: 1;
  transform: scale(1.3);
  z-index: 2;
  box-shadow: 0 5px 20px rgba(0,0,0, 1);
}

main .product_description{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 500px;
  overflow-y: auto;
}

main .product_description .prices_and_discount{
  display: flex;
  align-items: center;
  gap: 10px;
}

main .product_description .prices_and_discount .old_price{
  text-decoration: line-through;
}

main .product_description .prices_and_discount .discount{
  padding: 3px 7px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.star_container{
  display: flex;
  gap: 10px;
  align-items: center;
}

.star_reviews{
	display: flex;
	align-items: center;
	gap: 5px;
	color: #222222;
}

main .product_description .various_colors{
  display: flex;
  gap: 10px;
  align-items: center;
}

main .product_description .various_colors .product_color{
  border: 2px solid #ccc;
  border-radius: 5px;
  /* padding: 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  overflow: hidden;
}

main .product_description .various_colors .product_color img{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

main .product_description .various_colors .product_color:hover{
  border: 2px solid #1874D2;
}

.active_color{
  border: 2px solid #1874D2 !important;
}

main .product_description .completion_buttons{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

main .product_description .completion_buttons .add_button{
  flex: 1;
  background-color: #3B82F6;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

main .product_description .completion_buttons .other_buttons{
  flex: 1;
  display: flex;
  gap: 10px;
}

main .product_description .completion_buttons .other_buttons .love_button{
  flex: 1;
  border: solid 1px #2a2a2a;;
  padding: 10px 15px;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

@media(max-width: 900px){
  :root{
    --image_width: 100vw;
  }

  main{
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  main .images_container{
    border-radius: 0 !important;
  }

  .all_images img, .all_images video{
    max-height: 50vh;
  }

  .prev{
    left: 0;
  }

  main .product_description{
    padding: 0 20px;
    max-height: initial;
  }

  main .product_preview_plus_extra_images{
    flex-direction: column-reverse;
    position: relative;
    max-height: unset;
  }

  main .additional_images{
    display: flex;
    width: 100%;
    overflow-x: auto;
    flex-direction: row;
    height: fit-content;
    overflow-y: hidden;
    padding-bottom: 10px;
  }

  main .additional_images .additional_image{
    min-width: 130px;
    height: 50px;
    border-radius: 10px;
  }

  main .product_description .completion_buttons{
    flex-direction: column;
  }
}

@media(prefers-color-scheme: dark){
  main .product_description .various_colors .product_color{
    border: 2px solid #4a4a4a;
  }

  .star_reviews{
    color: white;
  }
}